* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: large;
    font-family: "Ubuntu", sans-serif
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.App {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    /* flex: 1 2 1; */
}
